.btn-key {
  line-height: 1.2;
  padding: 0px;
  height: 5.5vw;
  width: 5.5vw;
  margin: 0.3vw;
}

.keyLetter {
  font-size: 1.5vw;
}

.audioName {
  padding-top: 0px;
  font-size: 0.8vw;
  text-transform: none;
  height: 100%;
  width: 100%;
  /*background-color: #00bfa5;*/
  white-space: pre-wrap;
}

#row2 {
  padding-left: 1.6vw;
}

#row3 {
  padding-left: 3.2vw;
}

#keyboard {
  padding: 0;
}

#waveform {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #37474f;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

body {
  background-color: #263238;
  margin: 0;
  padding: 0;
}

.tabs {
  margin: 0;
  padding: 0;
  height: 40px;
  background-color: inherit;
  border: 2px solid purple;
}

.soundNotLoaded {
  background-color: #f44336;
  opacity: 0.3;
  cursor: default;
}

.soundNotLoaded:hover {
  background-color: #c62828;
}

#transition-songs {
  height: 100%;
}

#transition-songs li {
  background-color: #455a64;
  padding: 3px;
  margin: 3px;
}

#transition-songs li:hover {
  cursor: pointer;
}

.sortable-ghost {
  color: yellow;
  border: 1px dashed white;
}

.sortable-drag {
  opacity: 0.8;
}

.keyboard-transitions {
  height: 100%;
  border: 2px solid black;
  margin: 0;
  padding: 0;
}

tr td {
  padding-top: 0;
  padding-bottom: 0;
}
