.btn-key {
  line-height: 1.2;
  padding: 0px;
  height: 5.5vw;
  width: 5.5vw;
  margin: 0.3vw;
}

.keyLetter {
  font-size: 1.5vw;
}

.audioName {
  padding-top: 0px;
  font-size: 0.8vw;
  text-transform: none;
  height: 100%;
  width: 100%;
  /*background-color: #00bfa5;*/
  white-space: pre-wrap;
}

#row2 {
  padding-left: 1.6vw;
}

#row3 {
  padding-left: 3.2vw;
}

#keyboard {
  padding: 2.5vw;
}

#waveform {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #37474f;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

body {
  background-color: #263238;
}
