@import 'colors.css';
.btn-key {
  line-height: 1.2;
  padding: 0px;
  height: 5.15vw;
  width: 5.15vw;
  margin: 0.3vw;
}

.keyLetter {
  font-size: 1.5vw;
  pointer-events: none;
}

.audioName {
  padding-top: 0px;
  text-transform: none;
  height: 100%;
  width: 100%;
  font-size: 0.9vw;
  pointer-events: none;
  /*white-space: pre-wrap;*/
}

.played {
  opacity: 0.2;
}

#row2 {
  padding-left: 1.6vw;
}

#row3 {
  padding-left: 3.2vw;
}

.container {
  width: 100%;
  height: 100%;
}

.keyboard-container {
  width: 100%;
  height: 60vh;
}

.section {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  width: 75vw;
  height: 60%;
  background-color: var(--bgD);
  border-radius: 10px;
}

.pp-easing {
  transition: all 900ms ease;
  /*-webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
  transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);*/
}

#pp-nav {
  display: none;
}

#waveform-box {
  position: absolute;
  bottom: 0px;
  width: 75%;
  margin: 10px;
  padding: 0;
}

#waveform {
  border-top-right-radius: 3px;
  height: 128px;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

#waveform-region {
  position: absolute;
  top: 28px;
  width: 100%;
  left: 0;
  height: 84%;
  background-color: var(--pD);
  margin: 0;
  border-left: 3px solid var(--tD);
  border-right: 3px solid var(--tD);
  transition: 0.5s;
}

#waveform-info {
  height: 28px;
  width: 40%;
  margin-left: 0px;
  padding-left: 10px;
  padding-top: 4px;
  background-color: var(--aM);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

#waveform-info p {
  margin: 0;
  padding: 0;
}

#waveform-timeline {
  height: 20px;
  background-color: var(--pD);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 1px outset darkgray;
}

#waveform-progress {
  position: absolute;
  top: 45%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.line {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #4b9cdb;
  bottom: 0px;
}

.load {
  height: 50px;
  width: 70px;
  position: absolute;
  top: 34%;
  margin: 0 auto;
  left: 0;
  right: 0;
}


/* =Animate the waveform loading
------------------------ */

.load .line:nth-last-child(1) {
  animation: loadingA 1.5s 1s infinite;
}

.load .line:nth-last-child(2) {
  animation: loadingA 1.5s .5s infinite;
}

.load .line:nth-last-child(3) {
  animation: loadingA 1.5s 0s infinite;
}

@keyframes loadingA {
  0 {
    height: 15px;
  }
  50% {
    height: 35px;
  }
  100% {
    height: 15px;
  }
}

body {
  margin: 0;
  padding: 0;
}

h4 {
  padding-left: 20px;
  padding-top: 10px;
  margin: 0px;
}

.tabs {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 75%;
  background-color: inherit;
}

.soundNotLoaded {
  background-color: #f44336;
  opacity: 0.3;
  cursor: default;
}

.soundNotLoaded:hover {
  background-color: #c62828;
}

.section-header {
  margin-top: 0;
  border-radius: 10px solid black;
}

#playlist-songs {
  margin: 0;
  position: relative;
  height: 81%;
}

.playlistBox {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 92%;
  width: 22%;
  border-radius: 3px;
  padding: 10px;
}

#playlist-songs li {
  padding: 3px;
  margin: 3px;
  box-shadow: 0px 1px 0px 0px var(--oc-gray-7);
  transition: 0.5s;
}

#playlist-songs li:hover {
  cursor: pointer;
}


/*
*	Scroll bar styling
*/

.scrollbar {
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--pM);
}

.sortable-ghost {
  color: rgba(0, 0, 0, 0);
  border: 1px dashed white;
}

.sortable-drag {
  opacity: 0.8;
}

.keyboard-transitions {
  height: 100%;
  margin: 0;
  padding: 0;
}

#sound-settings-path {
  display: inline-block;
  width: 180px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  float: left;
}

#browse-button {
  display: inline-block;
  float: right;
  width: 80px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.settings-row {
  position: relative;
  cursor: default;
}

tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}

#sound-settings input {
  margin: 2px;
}

#settings-categories {
  float: left;
  width: 30%;
  height: 350px;
  padding: 20px;
  padding-top: 5px;
  border-right: 1px solid gray;
  cursor: pointer;
}

.selectable li:hover {
  color: white;
  background-color: var(--oc-gray-1);
}

.selectable .ui-selected {
  background-color: var(--pM) !important;
  color: white;
}

#programTitle {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  -webkit-user-select: none;
  cursor: default;
}

#color-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 195px;
  height: 110px;
  border: 2px solid gray;
  border-radius: 4px;
  background-color: var(--oc-gray-2);
}

.color-picker-color {
  height: 20px;
  width: 40px;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 4px 0px -4px 4px;
  display: inline-block;
}

#programTitle:hover {
  text-shadow: 0px 0px 2px white;
}

.menu-icon {
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.menu-icon:hover {
  text-shadow: 0px 0px 3px white;
}

#clock {
  float: right;
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 4vh;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);
}

#update-modal {
  max-height: 90% !important;
}

#update-modal p {
  margin: 0px !important;
}

#update-changelog {
  border: 1px solid gray;
  margin: 20px;
  padding: 10px;
  max-height: 300px;
  overflow-y: scroll;
  text-align: left;
  font-size: 12px;
}

#update-changelog li {
  list-style: disc;
  list-style-type: circle;
}

#update-changelog h3 {
  font-size: 20px;
  margin-bottom: 2px;
}

#update-changelog ul {
  margin-top: 0;
}

#download-button {
  width: 400px;
  height: 100px;
}
