@import 'colors.css';
.btn-key {
  line-height: 1.2;
  padding: 0px;
  height: 5.5vw;
  width: 5.5vw;
  margin: 0.3vw;
}

.keyLetter {
  font-size: 1.5vw;
  pointer-events: none;
}

.audioName {
  padding-top: 0px;
  text-transform: none;
  height: 100%;
  width: 100%;
  font-size: 1vw;
  pointer-events: none;
  /*white-space: pre-wrap;*/
}

#row2 {
  padding-left: 1.6vw;
}

#row3 {
  padding-left: 3.2vw;
}

#keyboard {
  padding-top: 20px;
}

#waveform-box {
  position: absolute;
  bottom: 0px;
  width: 75%;
  margin: 10px;
  border-radius: 3px;
}

#waveform-progress {
  position: absolute;
  top: 48%;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

body {
  margin: 0;
  padding: 0;
}

h4 {
  padding-left: 20px;
  padding-top: 10px;
  margin: 0px;
}

.tabs {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 75%;
  background-color: inherit;
}

.soundNotLoaded {
  background-color: #f44336;
  opacity: 0.3;
  cursor: default;
}

.soundNotLoaded:hover {
  background-color: #c62828;
}

.section-header {
  margin-top: 0;
  border-radius: 10px solid black;
}

#playlist-songs {
  margin: 0;
  position: relative;
  height: 81%;
}

.playlistBox {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 92%;
  width: 22%;
  border-radius: 3px;
  padding: 10px;
}

#playlist-songs li {
  padding: 3px;
  margin: 3px;
  box-shadow: 0px 1px 0px 0px var(--oc-gray-7);
  transition: 0.5s;
}

#playlist-songs li:hover {
  cursor: pointer;
}


/*
*	Scroll bar styling
*/

.scrollbar {
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--pM);
}

.sortable-ghost {
  color: rgba(0, 0, 0, 0);
  border: 1px dashed white;
}

.sortable-drag {
  opacity: 0.8;
}

.keyboard-transitions {
  height: 100%;
  margin: 0;
  padding: 0;
}

#sound-settings-path {
  display: inline-block;
  width: 180px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  float: left;
}

#browse-button {
  display: inline-block;
  float: right;
  width: 80px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.settings-row {
  position: relative;
  height: 60px;
}

tr td {
  padding-top: 0;
  padding-bottom: 0;
}

#sound-settings input {
  margin: 2px;
}

#programTitle {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  -webkit-user-select: none;
  cursor: default;
}

#programTitle:hover {
  text-shadow: 0px 0px 2px white;
}

.menu-icon {
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.menu-icon:hover {
  text-shadow: 0px 0px 3px white;
}

#clock {
  float: right;
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 4vh;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);
}
