#header-logo {
    display: inline-block;
    height: 30px;
    margin-bottom: -2px;
}

#programTitle {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    padding-top: 10px;
    margin: 0px;
    -webkit-user-select: none;
    cursor: default;
    font-family: 'Pacifico';
    font-size: 28px;
    text-shadow: 0px 2px 1px darkslategray;
    font-size: 35px;

    &:hover {
        text-shadow: 0px 0px 2px white;
    }
}

.menu-icon {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        text-shadow: 0px 0px 3px white;
    }
}

.tabs {
    margin: 0;
    padding: 0;
    height: 40px;
    background-color: inherit;
    text-shadow: 0px 1px 1px black;
    overflow-x: hidden;
}

.tabs-row {
    width: 78%;
}

#clock {
    float: right;
    padding-right: 20px;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 4vh;
}

#loadedContainer {
    display: inline-block;
    width: 10%;
    height: 20px;
    border: 1px solid var(--oc-gray-1);
    border-radius: 5px;
}

#loadedCount {
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--oc-green-7);
}

#update-link {
    display: inline-block;
    text-shadow: 0px 2px 2px black;

    &:hover {
        text-shadow: 0px 0px 5px lightblue;
        cursor: pointer;
    }
}


.header-row i {
    margin-top: -14px;
    font-size: 28px;
}